**Data Structure Assignment**

1. What are data structures, and why are they important3

Ans - Data structures are special formats or ways to organize, store, and manage data so that we can use it efficiently.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

a) It is important because -
They help in easy data access and modification.

b) They make code cleaner, faster, and more organized.

c) It optimizes searching and sorting operations.

d) It also conserves memory usage.

2.Explain the difference between mutable and immutable data types with examples ?

Ans - a) Mutable means you can change the data after creating it.

b) Immutable means you cannot change the data once it is created.

EXAMPLES :
- Mutable: list, dictionary, set

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 100  # we can change the value

- Immutable: int, float, string, tuple

In [ ]:
name = "John"
name[0] = "P"  # ❌ This will cause an error because strings are immutable

3. What are the main differences between lists and tuples in Python ?

Ans - Lists and tuples are both used to store many values in Python, but they have some important differences:

1. **Changeable or Not:**

   * **List:** You **can change** the items in a list (add, remove, or update).
   * **Tuple:** You **cannot change** the items in a tuple once it is created.

2. **Brackets Used:**

   * **List:** Uses **square brackets** → `[ ]`
     Example: `my_list = [1, 2, 3]`
   * **Tuple:** Uses **round brackets** → `( )`
     Example: `my_tuple = (1, 2, 3)`

3. **Speed:**

   * Tuples are a bit **faster** than lists when working with large data.
   * Lists are a bit **slower** but more flexible.

4. **When to Use:**

   * Use **lists** if you want to **change the data** later (like a to-do list).
   * Use **tuples** if the data should **stay the same** (like days of the week).

5. **Built-in Functions:**

   * Lists have **more functions** like `append()`, `remove()`, etc.
   * Tuples have **fewer functions** because they can't be changed.

4. Describe how dictionaries store data?

Ans - Dictionaries store data as key-value pairs. Each unique key maps to a value.

In [ ]:
student = {"name": "Ajay", "age": 20}

Here, "name" is a key and "Ankit" is the value.

5. Why might you use a set instead of a list in Python?

Ans- Sets automatically remove duplicates.

Sets are faster for checking if an item exists.

Example:

In [57]:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

6. What is a string in Python, and how is it different from a list?

A string is a sequence of characters, like "hello".

A list is a collection of items that can be of any data type.

Difference:

Strings are immutable (can’t be changed), lists are mutable.

Strings store only characters, lists can store anything.

In [ ]:
name = "hello"        # string
items = ["h", "e", 1]  # list

7. How do tuples ensure data integrity in Python?**bold text**

Ans- Tuples are immutable, their data can’t be changed by accident. This helps keep the data safe and consistent, especially in programs where data shouldn’t change.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans- A hash table is a data structure that stores data using a hash function to map keys to values.

Python dictionaries are implemented using hash tables, making lookups and updates very fast.

9. Can lists contain different data types in Python?

Ans- Yes! Lists in Python can store mixed data types.

In [ ]:
my_list = [1, "apple", 3.5, True]

10. Explain why strings are immutable in Python ?

Ans- Strings are immutable to:

Ensure data safety when used across programs.

Improve performance, especially when shared or reused.

Make them hashable, so they can be used as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans- Dictionaries allow faster access using keys, unlike lists which use index numbers.

Keys make data easier to understand (e.g., "name" is better than index 0).

Example:

In [ ]:
person = {"name": "Ajay", "age": 30}

12.  Describe a scenario where using a tuple would be preferable over a list ?

Ans- When storing fixed data like dates or coordinates that should not change:

In [ ]:
location = (28.61, 77.23)  # Latitude, Longitude

We can use a tuple to prevent accidental modification.

13. How do sets handle duplicate values in Python?

Ans- Sets do not allow duplicates. If you add duplicate values, Python automatically removes them.

In [ ]:
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

Ans -

1.   In lists, it checks if a value exists.
2.  In dictionaries, it checks if a key exists.

In [ ]:
5 in [1, 2, 5]         # True
"name" in {"name": "Bijay"}  # True (checks for key, not value)

True

15. Can you modify the elements of a tuple? Explain why or why not ?

Ans - No, you cannot modify a tuple because it is immutable. Once created, its elements cannot be changed.

In [ ]:
t = (1, 2, 3)
t[0] = 10  # ❌ It will raise an error

16. What is a nested dictionary, and give an example of its use case ?

Ans - A nested dictionary is a dictionary inside another dictionary.

Use case: Store multiple students’ details:

In [ ]:
students = {
  "101": {"name": "Amit", "marks": 80},
  "102": {"name": "Sara", "marks": 90}
}

17.  Describe the time complexity of accessing elements in a dictionary ?

Ans - Accessing a value by key in a dictionary is O(1) on average.
This means it’s very fast, no matter how big the dictionary is.

18. In what situations are lists preferred over dictionaries?

Ans - 1.When order matters (e.g., top 10 scores).

2.When you only need to store items, not key-value pairs

In [ ]:
scores = [90, 80, 70]  # Better than using a dictionary here

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans - Earlier versions of Python (<3.7) didn’t maintain the insertion order. Even though modern Python does, you should not depend on order when using dictionaries.
Data is retrieved by key, not by position.

20. Explain the difference between a list and a dictionary in terms of data retrieval ?

Ans - 1.In a list, you retrieve data using an index number (position).

2.In a dictionary, you retrieve data using a key.

In [ ]:
# List
colors = ["red", "blue"]
print(colors[0])  # "red"

# Dictionary
fruits = {"a": "apple", "b": "banana"}
print(fruits["b"])  # "banana"

red
banana

**Practical Questions**--->

1. Write a code to create a string with your name and print it ?

In [ ]:
name = "Krishna kant Singh"
print(name)

Krishna kant Singh

2. Write a code to find the length of the string "Hello World"?

In [ ]:
a="Hello world"
print(len(a))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
s = "Python Programming"
print(s[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase ?

In [1]:
string = "Hello"
print (string.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [2]:
string = "I Like Apple"
new_string= string.replace("Apple","Orange")
print (new_string)

I Like Orange

6. Write a code to create a list with numbers 1 to 5 and print it ?

In [3]:
numbers = [1,2,3,4,5]
print (numbers)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [4]:
list= [1,2,3,4]
list.append(10)
print (list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [5]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [6]:
list = ['a','b','c','d']
print (list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50] ?

In [7]:
numbers = [10,20,30,40,50]
numbers.reverse()
print (numbers)

[50, 40, 30, 20, 10]

11. . Write a code to create a tuple with the elements 100, 200, 300 and print it ?

In [8]:
tuple = (100,200,300)
print (tuple)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [9]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("Second-to-last element:", second_last)

Second-to-last element: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [15]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [18]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [23]:
Fruits = ('Apple', 'Banana','Mango')
print ('kiwi' in Fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it ?

In [24]:
s={'a','b','c'}
print (s)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.?

In [51]:
s={1,2,3,4,5}
s.clear()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.?

In [52]:
s = {1,2,3,4}
s.remove(4)

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [53]:
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [49]:
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.?

In [31]:
Dict= {'name':'ajay', 'age':'24','city':'banglore'}
print (Dict)

{'name': 'ajay', 'age': '24', 'city': 'banglore'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.?

In [32]:
dict=  {'name': 'John', 'age': 25}
dict['country']= 'USA'
print (dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?

In [33]:
details = {'name': 'Alice', 'age': 30}
print(details['name'])

Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [34]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [35]:
dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all ?

In [36]:
list = [1, 2, 3]
tuple = ('a', 'b', 'c')
dict = {"name": "Bijay", "age": 25}
print(list)
print(tuple)
print(dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Bijay', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced) ?

In [37]:
import random
numbers = []
for i in range(5):
    num = random.randint(1, 100)
    numbers.append(num)
numbers.sort()
print("Sorted random numbers:", numbers)

Sorted random numbers: [3, 10, 20, 24, 77]

28.  Write a code to create a list with strings and print the element at the third index ?

In [38]:
words = ["apple", "banana", "Ajay", "date", "Calendar"]
print(words[3])

date

29.  Write a code to combine two dictionaries into one and print the result ?

In [39]:
a = {'x': 1, 'y': 2}
b = {'z': 3}
combined_dict= {**a, **b}
print(combined_dict)

{'x': 1, 'y': 2, 'z': 3}

30.  Write a code to convert a list of strings into a sets?

In [59]:
del set

In [60]:
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'cherry', 'apple', 'banana'}